.pageNotFound {
  height: 100vh;
  padding: 2.5rem 5rem;
  background-image: linear-gradient(rgba(36, 42, 46, 0.9), rgba(36, 42, 46, 0.9)), url('/images/error.png');
  background-size: cover;
  background-position: center;
}

.pageNotFound section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pageNotFound h1 {
  font-size: 18rem;
}

.pageNotFound h2 {
  margin-bottom: 10rem;
  color: var(--color-light--1);
  font-size: 4.5rem;
  line-height: 1.3;
}
